@font-face {
    font-family: "raleway";
    src: url(../fonts/static/Raleway-Light.ttf);
}

@font-face {
    font-family: "raleway";
    src: url(../fonts/static/Raleway-ExtraBold.ttf);
    font-weight: bold;
}

body{
    background-color: #f1f1f1;
    font-family: "raleway";
    color: #3d3d3d;
}

img{
    max-width: 100%;
}



/* mobile - máx 480px */


    /* grid */

        #main-container{
            display: grid;
            grid-template-columns: repeat(12, 1fr);
        }

        #nav-bar{
            grid-column: 1 / -1;
            grid-row: 1 / 2;
        }

        #header{
            grid-column: 1 / -1;
            grid-row: 2 / 3;
        }

        #main-post{
            grid-column: 1 / -1;
            grid-row: 3 / 4;
        }

        #cards{
            grid-column: 1 / -1;
            grid-row: 4 / 5;
        }

        #post-list{
            grid-column: 1 / -1;
            grid-row: 5 / 6;
        }

        #about{
            grid-column: 1 / -1;
            grid-row: 6 / 7;
        }

        #footer{
            grid-column: 1 / -1;
            grid-row: 7 / 8;
        }


    /* cabeçalho */

        #nav-bar{
            background-color: white;
            display: flex;
            padding: 4%;
            border-bottom: 1px solid #d8d8d8;
        }

        .brand{
            font-size: .7rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 4px;
        }

        .nav-list{
            display: none;
        }

        #header{
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 5px;
            line-height: 1.6;
            margin: 15% 10%;
        }

        #header img{
            width: 35%;
        }

        #header h1{
            font-size: 1.3rem;
            font-weight: bold;
            margin-bottom: 4%;
        }

        #header p{
            font-size: .7rem;
        }


/* tablet - máx 768px */

    @media screen and (min-width: 480px) {}



/* laptop - máx 1024px */

    @media screen and (min-width: 768px) {}



/* desktop - acima de 1024px */
    
    @media screen and (min-width: 1024px) {

        /* grid */

        #nav-bar{
            grid-column: 1 / -1;
            grid-row: 1 / 2;
        }

        #header{
            grid-column: 1 / 4;
            grid-row: 2 / 3;
        }

        #main-post{
            grid-column: 4 / -1;
            grid-row: 2 / 8;
        }

        #cards{
            grid-column: 1 / 4;
            grid-row: 4 / 5;
        }

        #post-list{
            grid-column: 1 / 4;
            grid-row: 5 / 6;
        }

        #about{
            grid-column: 1 / 4;
            grid-row: 6 / 7;
        }

        #footer{
            grid-column: 1 / 4;
            grid-row: 7 / 8;
        }
    }
