@font-face {
    font-family: "raleway";
    src: url(../fonts/static/Raleway-Light.ttf);
}

@font-face {
    font-family: "raleway";
    src: url(../fonts/static/Raleway-ExtraBold.ttf);
    font-weight: bold;
}

body{
    background-color: #f1f1f1;
    font-family: "raleway";
    color: #3d3d3d;
}

img{
    width: 100%;
}


/* mobile - máx 480px */


    /* grid */

        #main-container{
            display: grid;
            grid-template-columns: repeat(12, 1fr);
        }

        #nav-bar{
            grid-column: 1 / -1;
            grid-row: 1 / 2;
        }

        #header{
            grid-column: 1 / -1;
            grid-row: 2 / 3;
        }

        #main-post{
            grid-column: 1 / -1;
            grid-row: 3 / 4;
        }

        #cards{
            grid-column: 1 / -1;
            grid-row: 4 / 5;
        }

        #post-list{
            grid-column: 1 / -1;
            grid-row: 5 / 6;
        }

        #about{
            grid-column: 1 / -1;
            grid-row: 6 / 7;
        }

        #footer{
            grid-column: 1 / -1;
            grid-row: 7 / 8;
        }


    /* cabeçalho */

        #nav-bar{
            background-color: #ffffff;
            display: flex;
            padding: 4%;
            border-bottom: 1px solid #d8d8d8;
        }

        .brand{
            font-size: .7rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 4px;
        }

        .nav-list{
            display: none;
        }

        #header{
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 5px;
            line-height: 1.9;
            margin: 15% 5%;
        }

        #header img{
            width: 35%;
        }

        #header h1{
            font-size: 1.3rem;
            font-weight: bold;
            margin-bottom: 3%;
        }

        #header p{
            font-size: .7rem;
        }


    /* Postagens principais */

        .post{
            background-color: #ffffff;
            border-top: solid 1px #d8d8d8;
            border-bottom: solid 1px #d8d8d8;
            margin-bottom: 10%;
        }

        .post-header{
            letter-spacing: 4px;
            text-transform: uppercase;
            text-align: center;
            line-height: 1.9;
            margin: 15% 5% 5%;
        }

        .post-header h2{
            font-size: 1.1rem;
            font-weight: bold;
            margin-bottom: 3%;
        }

        .post-header p{
            font-size: .7rem;
        }

        .post-info{
            text-align: center;
        }

        .post-date{
            font-weight: bold;
            font-size: .7rem;
            text-transform: uppercase;
        }

        .post-user_name{
            display: none;
        }

        .post-user_image{
            border-radius: 50%;
            width: 10%;
            margin: 5% 5% 10%;
        }

        .post-text{
            margin: 5%;
            letter-spacing: 1px;
            line-height: 1.5;
        }

        .ico{
            width: .8rem;
            margin: auto 4px;
        }

        .btn{
            color: #3d3d3d;
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: none;
            letter-spacing: 4px;
            font-size: .7rem;
            border: 1px solid #d8d8d8;
            display: block;
            padding: 5% 10%;
            text-align: center;
            margin: 5%;
            transition: color .5s
        }

        .btn:hover{
            color: #19a582;
        }

        .post-bottom{
            display: flex;
            flex-direction: column;
            margin: 10% 0 5%;
        }

        .post-bottom ul{
            display: flex;
            text-transform: uppercase;
            order: -1;
            margin: auto;
            gap: 5px;
        }

        .post-bottom ul li{
            border-right: 1px solid #d8d8d8;
            padding: 0 10px;
        }

        .post-bottom ul li:nth-last-child(1){
            border-right: none;
        }

        .post-bottom ul li:nth-child(1) a{
            border-bottom: 1px dotted #d8d8d8;
        }

        .post-bottom ul a{
            color: #3d3d3d;
            font-size: .7rem;
            text-decoration: none;
        }


    /* cards */

        #cards{
            border-top: 1px solid #d8d8d8;
            margin: 5%;
        }

        .card{
            background-color: #ffffff;
            margin-top: 10%;
            border: 1px solid #d8d8d8;
        }

        .card-info{
            display: flex;
            align-items: center;
            padding: 5%;
        }
  
        .card-title{
            font-weight: bold;
            font-size: .7rem;
            text-transform: uppercase;
            letter-spacing: 3px;
            text-decoration: none;
            color: #3d3d3d;
           transition: color .5s;
        }


        .card-title:hover{
            color: #19a582;
        }

        .card-user_image{
            width: 12%;
            margin: auto;
            border-radius: 50%;
        }


    /* Lista de postagens */

        #post-list{
            border-top: 1px solid #d8d8d8;
            border-bottom: 1px solid #d8d8d8;
            margin: 5%;
            padding-top: 5%;
            padding-bottom: 5%;
        }

        .list{
            margin: 5% 0;
            display: flex;
            align-items: center;
        }

        .list div{
            margin: 5% 0 5% 5%;
            
        }

        .list img{
            width: 20%;
        }

        .list-title{
            font-weight: bold;
            font-size: .6rem;
            text-transform: uppercase;
            letter-spacing: 3px;
            margin-bottom: 2%;
            line-height: 1.5;
            text-decoration: none;
            color: #3d3d3d;
            transition: color .5s;
        }

        .list-title:hover{
            color: #19a582;
        }

        .list-date{
            font-size: .9rem;
        }


    /* Sobre */

        #about{
            margin: 10% 5% 5%;
            border-bottom: 1px solid #d8d8d8;
        }

        #about h2{
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 4px;
            font-size: .8rem;
            margin-bottom: 5%;
        }

        #about p{
            line-height: 1.5;
        }

        #about .btn{
            margin: 10% 0;
        }

        
    /* Rodapé */

        #footer{
            margin: 10% 5% 10%;
            text-align: center;
        }

        #footer ul{
            display: flex;
            justify-content: center;
            margin-bottom: 5%;
        }

        #footer .ico{
            width: 20px;
            height: 20px;
            margin-right: 20px;
        }

        #footer p{
            margin: 10% 0;
            color: #b4b4b4;
            font-size: .8rem;
        }


/* tablet - máx 768px */

    @media screen and (min-width: 480px) {}



/* laptop - máx 1024px */

    @media screen and (min-width: 768px) {}



/* desktop - acima de 1024px */
    
    @media screen and (min-width: 1024px) {

        /* grid */

        #nav-bar{
            grid-column: 1 / -1;
            grid-row: 1 / 2;
        }

        #header{
            grid-column: 1 / 4;
            grid-row: 2 / 3;
        }

        #main-post{
            grid-column: 4 / -1;
            grid-row: 2 / 8;
        }

        #cards{
            grid-column: 1 / 4;
            grid-row: 4 / 5;
        }

        #post-list{
            grid-column: 1 / 4;
            grid-row: 5 / 6;
        }

        #about{
            grid-column: 1 / 4;
            grid-row: 6 / 7;
        }

        #footer{
            grid-column: 1 / 4;
            grid-row: 7 / 8;
        }
    }
